<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Result</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="header bg-secondary-subtle mb-4 p-4 rounded-3 text-center">
        <h1>Your BMI Result</h1>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Your BMI is: {{bmi}}</h2>
            <p><a href="/">Back to Calculator</a></p>
        </div>
    </div>
</body>
</html>